# dependencies
node_modules/

# build output
dist/
storybook-static/

# local caches
.pnpm-store/
.vite/
.cache/
*.tsbuildinfo

# env files
.env
.env.local
.env.*.local

# testing
coverage/

# misc
.DS_Store
*.log

# editor
.vscode/
.idea/
